# Default ignored files
/../../IT-Company-Task-Manager /.idea/shelf/
/../../IT-Company-Task-Manager /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../IT-Company-Task-Manager /.idea/httpRequests/
# Datasource local storage ignored files
/../../IT-Company-Task-Manager /.idea/dataSources/
/../../IT-Company-Task-Manager /.idea/dataSources.local.xml
